@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=M+PLUS+Rounded+1c&family=Noto+Sans&family=Noto+Sans+Bengali:wght@500;900&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,500;0,700;1,800;1,900&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,100;0,500;0,700;1,100&display=swap');

hr{   background: "#6F38C5";
    height: "5px";
    border: "none";
}

.footer{
    background: linear-gradient(to right, rgba(130,190,66,1) 0%,rgba(48,178,210,1) 50%,rgba(28,76,147,1) 100%);
}

.icn{
    display: inline-block;
    height:35px;
    width: 35px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height:35px;
    border-radius: 50%;
    color: #141313;
    transition:all 0.5s ease;
    color: #f0f2fa;
}
.icn:hover{
    color: #f0f2fa;
    background: linear-gradient(rgba(130,190,66,1) 0%,rgba(48,178,210,1) 50%);
}

.goglefont{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}