@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:ital,wght@0,400;0,700;1,400&family=M+PLUS+1&family=M+PLUS+Rounded+1c&family=Noto+Sans&family=Noto+Sans+Bengali:wght@500;900&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,600;1,800;1,900&family=Roboto+Slab:wght@500&display=swap');

.bg-color{
    background: linear-gradient(to right, rgba(46, 84, 118, 0.754) 0%,rgba(48,178,210,1) 50%,rgba(28,76,147,1) 100%);
}

.countup-width{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    font-size: 50px;
}